html, body{
  background-color: black;
  color:white;
  /* background-image: radial-gradient( #23074d,#cc5333); */

}
#other{
  height:350px;
  background-color: black;
}






.card {
  /* padding-left: 20px;
  padding-right: 20px; */
  box-shadow: 0 0px 20px 0 rgba(255, 252, 252, 0.2);
  background-color: rgba(0,0,0,0.2);
  transition: 0.3s;
}
  
.text-grey {
  color: grey;
}

  

.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
